<section class="row container" style="width: 100%;">
    <div class="row" id="signin">
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <div class="col-lg-9 col-md-9  col-sm-9  col-xs-9">
            <div class="col-lg-7 col-md-7  col-sm-7  col-xs-12">
                <div class="form-horizontal min">
                    <div class="form-group">
                        <input type="button" ng-click="signin()" name="signin" value="Sign In" />
                        <input type="button" ng-click="signup()" name="signup" value="Sign Up" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
